body {
  margin: 0;
  padding: 0;
  margin-left: 10%;
  margin-right: 10%;
}

.img {
  margin-top: 10px;
  margin-left: 400px;
}

.card-1 {
  background-color: #eeeeee;
  height: 100px;
  text-align: center;
  padding-top: 10px;
}
.card-1 input[type="text"] {
  height: 10px;
  width: 300px;
}

.card-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.box {
  display: flex;
  width: 100%;
  min-height: 100px;
  max-height: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul {
  list-style: none;
  text-align: center;
}

.color-card-1 {
  background-color: #7ee5da;
}

.color-card-2 {
  background-color: #70ccc2;
}

.color-card-3 {
  background-color: #62b3aa;
}

.footer {
  text-align: center;
}
